.fav-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
  }
  
  .fav-img {
    max-width: 50px; 
    margin-right: 20px; 
    border-radius: 10px;
  }
  

  h3, p {
    margin: 0; 
    font-size: 10px;
  }
  
  .fav-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .delete-button {
    max-width: 70px;
  }