.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  }
  
  .video-item {
    flex: 0 0 0%;
    max-width: 25%;
  }

  @media (max-width: 1300px) {
    .video-item {
      flex: 0 0 25%; /* 50% for 2 columns */
      max-width: 50%;
    }
  }

  @media (max-width: 767px) {
    .video-item {
      flex: 0 0 100%; /* 100% for 1 column */
      max-width: 100%;
    }
  }