.main-container {
    display: grid;
    grid-template-areas: 
      'nav nav nav'
      'fav search result'
      'fav search result';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr; 
    height: 100vh; 
    gap: 20px; 
}

.navigation-container {
    grid-area: nav;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.favourites-list-container {
    grid-area: fav;
}

.search-and-list-container {
    grid-area: search;
    flex-grow: 1; 
}

.result-summary-container {
    grid-area: result;
}

.result-summary img {
    max-width: 250px; 
    max-height: 250px; 
    grid-area: result;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 20px;
}

.worldList {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 30px;
}

.worldListItem img {
    max-width: 150px;
    max-height: 150px; 
    width: auto;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .worldList {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
    }
}

@media (max-width: 600px) {
    .worldList {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
    }
}

h1 {
    margin-bottom: 20px;
}

.header-title {
    margin-bottom: 20px; 
}

.search-bar {
    margin-bottom: 20px;
    width: 750px;
}

.search-button {
    height: 26px;
    width: 75px;
}

.search-input {
    height: 20px;
    width: 35%;
}

.space-object {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}