.worldList {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 30px;
}

.worldListItem img {
    max-width: 200px;
    max-height: 200px; 
    width: auto;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .worldList {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
    }
}

@media (max-width: 600px) {
    .worldList {
        display: grid;
        grid-template-columns: repeat(1, 0fr);
    }
}

h1 {
    margin-bottom: 20px;
  }

.header-title {
    margin-bottom: 20px; 
}

.search-bar {
    margin-bottom: 20px;
}

.search-button {
    height: 26px;
    width: 10%;
}

.search-input {
    height: 20px;
    width: 35%;
}