.apod-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

.apodImage {
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
}

.apodText {
    width: 50%;
    text-align: left;
    font-size: 14px;
}